@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0px;
}

header{
    font-family: 'Passion One', cursive;
    padding: 15px;
    margin: 0px;
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 20px;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 8vw;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

header a{
    padding-bottom: 20px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

main{
    font-family: 'Sriracha', cursive;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-left: 15px;
    font-size: 3vw;
    line-height: 2em;
}

section p{
    padding: 10px;
}

section br{
    margin-bottom: 20px;
}

.bloco-1{
    background: black url('../img/images.jpg') center center no-repeat fixed;
    background-size: cover;
    padding-right: 205px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.bloco-2{
    background: black url('../img/img.jpg') center center no-repeat fixed;
    background-size: cover;
    padding-right: 205px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;

}

.fundo{
    min-width: 110px;
    max-width: 550px;
    background-color: rgba(0, 0, 0, 0.322);
    padding: 15px;
    
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    text-align: center;
    background-color: black;
    color: white;
}

footer b{
    font-weight: bold;
}
